@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

body {
  padding:0px;
  background: #5500D4;
  font-family: 'Montserrat', sans-serif;
  font-size:14px
  color:#777;
}

p {
 font-family: 'Montserrat', sans-serif;
 font-size: 13px;
 float:left;
 max-width:300px;}

a {
  color:#D3D3D3;
  text-decoration:none;
  letter-spacing: 1px;}
li a:hover {
  color:black;}

img {
  max-width:100%;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

li, ul {
    text-decoration: none;
    list-style: none;
    display: inline;
    margin: 0 0 0 15px;
}

#footer {
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: white;
    border-top: black solid 5px;
    position: fixed;
    left:0px;
    z-index: 1000;
}

.footercontent {
    width: 100%;
    margin-top: 15px;
    padding: 0px;
}


/* Masonry styles */
.masonry {
  max-width: 100%;
}
.masonry .item,
.masonry .grid-sizer {
  width:  20%;
}

/* clearfix */
.masonry:after {
  content: '';
  display: block;
  clear: both;
}
/* set width and bottom margin */
.masonry .item,
.masonry .grid-sizer {
	width:  20%;
  	float: left;
}

/* width */
.item.w2 { width:  20%; }
/* heights */
.item.h2 { height: calc(20% 676.5px); }
.item.h3 { height: calc(20% 560px); }
.item.h4 { height: calc(20% 525px); }
.item.h5 { height: calc(20% 695px); }
.item.h6 { height: calc(20% 540.5px); }
.item.h7 { height: calc(20% 534.5px); } /*FallingMan*/
.item.h8 { height: calc(20% 197px); } /*WeBuySouls*/
.item.h9 { height: calc(20% 267.5px); } /*cheap*/
.item.h10 { height: calc(20% 504px); } /*blur*/
.item.h11 { height: calc(20% 217.5px); } /*Nike*/
.item.h12 { height: calc(20% 439px); } /*Waste*/
.item.h13 { height: calc(20% 350px); } /*Synergy*/

.item:hover {
}
/* end masonry styles */

@media print, screen and (max-width: 960px) {
  
}

@media print, screen and (max-width: 740px) {

li, ul {
    text-decoration: none;
    list-style: none;
    display: inline;
    margin: 0 0 0 15px;
}

#footer {
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: white;
    border-top: black solid 3px;
    position: fixed;
    left:0px;
    z-index: 1000;
}

.footercontent {
    width: 100%;
    margin-top: 10px;
    font-size:12px;
}
   
  pre, code {
    word-wrap:normal; }
}

@media print, screen and (max-width: 480px) {

  body {  
    padding-top:0px;
    margin-top:0px;
  }

}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}

