@import url(http://fonts.googleapis.com/css?family=Roboto:100);

body {
  padding:0px;
  background: #5500D4;
  font-family: 'Roboto', sans-serif;
  font-size:14px
  color:#777;
}

p {
 font-family: 'Roboto', sans-serif;
 font-size: 13px;
 float:left;
 max-width:300px;}

a {
  color:#D3D3D3;
  text-decoration:none;
  letter-spacing: 1px;}
li a:hover {
  color:black;}

img {
  max-width:100%;
}

#footer {
    position: fixed;
    left:0px;
    bottom: 0;
    width: 205px;
    height: 50px;
    background-color: white;
    border: black solid 5px;
    z-index: 1000;
}

.footercontent {
    width: 100%;
    margin: 15px;
}


/* Masonry styles */
.masonry {
  max-width: 100%;
}
.masonry .item,
.masonry .grid-sizer {
  width:  24%;
  float: left;
  margin-bottom:15px;
}

/* heights */
.item.h2 { height: calc(24% 676.5px); }
.item.h3 { height: calc(24% 560px); }
.item.h4 { height: calc(24% 525px); }
.item.h5 { height: calc(24% 695px); }
.item.h6 { height: calc(24% 540.5px); }
.item.h7 { height: calc(24% 534.5px); } /*FallingMan*/
.item.h8 { height: calc(24% 197px); } /*WeBuySouls*/
.item.h9 { height: calc(24% 267.5px); } /*cheap*/
.item.h10 { height: calc(24% 504px); } /*blur*/
.item.h11 { height: calc(24% 217.5px); } /*Nike*/
.item.h12 { height: calc(24% 439px); } /*Waste*/
.item.h13 { height: calc(24% 350px); } /*Synergy*/

/* end masonry styles */

.caption{position:absolute; top: 10px; padding:5px; z-index: 999; background-color:rgba(255,255,255, 0.3);}

@media print, screen and (max-width: 740px) {

}


@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}

